<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>933869952850-ogaufqveq3bbru59s3fsqm8t9bt5sj2o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.933869952850-ogaufqveq3bbru59s3fsqm8t9bt5sj2o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>933869952850-8e8r3av9tmj291g60ohjh04g3nrg2mvi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCg4XP46RBvaAlfDC7csrpDyZA0LznuZzE</string>
	<key>GCM_SENDER_ID</key>
	<string>933869952850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wemotions.app</string>
	<key>PROJECT_ID</key>
	<string>we-motions</string>
	<key>STORAGE_BUCKET</key>
	<string>we-motions.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933869952850:ios:e9a666011fbc65452ea48b</string>
</dict>
</plist>